.arrow {
    font-size: 27px;
    color: var(--primary-color);
    transition: 300ms;
}

.arrow:hover {
    cursor: pointer;
    opacity: 0.7;
}

.arrow.up {
    position: fixed;
    bottom: 15px;
    right: 30px;
}

.arrow.up.hide {
    display: none;
}

@media (min-width: 570px) {
    .arrow.up {
        color: var(--white-color);
        right: 10px; 
    }
}

@media (min-width: 767px) {
    .arrow.up {
        right: 15px; 
    }
}

@media (min-width: 1100px) {
    .arrow.up {
        right: 7vw; 
    }
}

@media (min-width: 1250px) {
    .arrow.up {
        right: 15vw; 
    }
}

@media (min-width: 1300px) {
    .arrow.up {
        right: 20vw; 
    }
}