*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-container-margin-y: 20px;
    --background-image: url(../img/diagmonds.png);

    --primary-color: #1a4257;
    --primary-opposite-color: #50B4EB;
    --primary-opposite-hover-color: #98D0EE;
    --primary-hover-color: #0a58ca;
    --secondary-color: black;
    --primary-light-color: silver;
    --secondary-light-color: gray;
    --white-color: white;

    --button-disabled-color: rgba(0, 0, 0, 0.2);

    --highlight-success-color: rgb(0, 128, 0);
    --highlight-fail-color: rgb(255, 0, 0);
    --highlight-success-bg: rgb(0, 128, 0, 0.5);
    --highlight-fail-bg: rgb(255, 0, 0, 0.5);
}

body {
    scroll-behavior: smooth;
    background-image: var(--background-image);
    background-color: var(--primary-color);
    font-family: roboto;
}

button:disabled {
    pointer-events: none;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    min-height: calc(100vh - 3 * var(--main-container-margin-y));
    margin: var(--main-container-margin-y) auto;
    background-color: var(--white-color);
    border-radius: 15px;
    box-shadow: 0 0 3px 1px var(--primary-opposite-color);
}

@media (min-width: 570px) {
    .app-wrapper {
        max-width: 85%;
    }
}

@media (min-width: 767px) {
    .app-wrapper {
        max-width: 75%;
    }
}

@media (min-width: 1100px) {
    .app-wrapper {
        max-width: 65%;
    }
}

@media (min-width: 1250px) {
    .app-wrapper {
        max-width: 55%;
    }
}

@media (min-width: 1300px) {
    .app-wrapper {
        max-width: 50%;
    }
}