.form__group {
    margin-bottom: 20px;
    padding: 10px 0 10px 16px;
    border-left: 2px solid var(--secondary-color);
}

.form__group .select {
    appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 8px);
    background-position-y: 5px;
}

.form__group input,
.form__group .select {
    padding: 7px 0 7px 15px;
    font-size: 16px;
    border: 1px solid var(--button-disabled-color);
    border-radius: 4px;
    transition: 350ms;
    color: var(--secondary-color);
    width: 100%;
}

.form__group input:focus,
.form__group .select:focus {
    outline: none;
    border: 1px solid var(--primary-opposite-color);
    box-shadow: 0 0 5px 1px var(--button-disabled-color);
}

.form__group .label {
    display: block;
    margin-bottom: 5px;
}

.form__group .label__text {
    display: block;
    padding: 8px 0 12px;
    color: var(--primary-color);
}

.form__group .row {
    display: flex;
    align-items: center;
}

.form__group .group__button-container {
    margin-top: 20px;
}

.form__group .group__button-container>button:not(:last-child) {
    margin-bottom: 5px;
}

@media (min-width: 570px) {
    .form__group .group__button-container>button:not(:last-child) {
        margin-right: 5px;
        margin-bottom: 0;
    }
}

.form__group .input-delete__container {
    padding: 0 15px;
}

.form__group .input-delete {
    color: var(--highlight-fail-color);
    transform: scale(1);
    transition: 300ms;
}

.form__group .input-delete:hover {
    cursor: pointer;
    transform: scale(1.2);
}