.header {
    text-align: center;
    position: relative;
}

.header h1 {
    background-color: var(--button-disabled-color);
    text-transform: uppercase;
    margin-top: 55px;
    font-size: 30px;
    letter-spacing: 2px;
    padding: 12px 0;
}

@media (min-width: 570px) {
    .header h1 {
        font-size: 40px;
    }
}