.main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 6vh;
}

.main .nav {
    min-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (min-width: 570px) {
    .main .nav {
        min-width: 70%;
    }
}

@media (min-width: 767px) {
    .main .nav {
        min-width: 50%;
    }
}

.main .nav__item {
    border-radius: 5px;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 13px;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-transform: uppercase;
    text-align: center;
    border: 1px solid var(--primary-color);
    padding: 25px 0;
    border: 1px solid transparent;
    transition: 200ms;
}

.main .nav__item:hover {
    cursor: pointer;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
}