.table__header {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.table__content,
.table__header {
    border: 1px solid var(--button-disabled-color);
}

.table__content {
    margin-bottom: 30px;
}

.table .table__record {
    display: grid;
}

.table__vocabulary .table__record {
    grid-template-columns: 1fr 60px;
    grid-template-rows: 1fr 1fr;
}

.table__group {
    display: flex;
    border-top: 1px solid var(--primary-opposite-color);
    border-bottom: 1px solid var(--primary-opposite-color);
    background-color: var(--secondary-bg-color);
}

.table__record:not(:last-child) + .table__record {
    border-top: 1px dashed var(--primary-opposite-color);
}

.table__content .strip {
    background-color: var(--strip-color);
}

.table__item-index {
    text-align: center;
}

.table__vocabulary .table__item-index {
    border-left: 1px dashed var(--primary-opposite-color);
    border-bottom: 1px dashed var(--primary-opposite-color);
}

.table__vocabulary .table__header .table__item-index {
    border-left: 1px solid var(--white-color);
    border-bottom: 1px solid var(--white-color);
}

.table__vocabulary .table__group .table__item-index {
    flex-basis: 60px;
    display: none;
}

.table__item {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: var(--record-padding-x);
    padding-bottom: var(--record-padding-x);
}

.table__item:not(.table__item-index) {
    padding-left: var(--record-value-padding-left);
    padding-right: var(--record-value-padding-left);
}

.table__group .table__item {
    text-align: center;
    flex-grow: 1;
    letter-spacing: 0.3px;
    color: var(--primary-color);
}

.table__vocabulary .table__record .table__item:nth-child(2) {
    order: -1;
    border-bottom: 1px dashed var(--primary-opposite-color);
}

.table__vocabulary .table__header .table__item:nth-child(2) {
    border-right: none;
    border-bottom: 1px solid var(--white-color);
}

.table__vocabulary .table__record .table__item:nth-child(3) {
    grid-column: 1 / 3;
}

@media (min-width: 570px) {
    .table__vocabulary .table__record .table__item:nth-child(3) {
        grid-column: unset;
    }

    .table__vocabulary .table__record {
        grid-template-columns: 50px 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .table__vocabulary .table__item-index,
    .table__vocabulary .table__header .table__item-index {
        border: none;
    }

    .table__vocabulary .table__item-index {
        border-right: 1px solid var(--button-disabled-color);
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1;
        grid-row: 1 / 3;
    }

    .table__vocabulary .table__header .table__item-index {
        border-right: 1px solid var(--white-color);
    }
}

@media (min-width: 900px) {
    .table__vocabulary .table__record {
        grid-template-columns: 60px 1fr 1fr;
        grid-template-rows: 1fr;
        text-align: center;
    }

    .table__vocabulary .table__record .table__item:nth-child(2) {
        border-right: 1px solid var(--button-disabled-color);
        border-bottom: none;
    }

    .table__vocabulary .table__header .table__item:nth-child(2) {
        border-right: 1px solid var(--white-color);
        border-bottom: none;
    }

    .table__vocabulary .table__group .table__item-index {
        display: block;
    }
}