.detailed-info__textual {
    margin-bottom: 30px;
}

.detailed-info__textual .navigation-list__item {
    flex-direction: column;
}

.detailed-info__textual i {
    margin-right: 5px;
    width: 20px;
    text-align: center;
    font-size: 1rem;
}

.navigation-list__value {
    padding: 8px 25px 8px 0;
    font-size: 13px;
}

.detailed-info__textual .navigation-list__name span::after {
    content: ":";
    margin-right: 5px;
}

@media (min-width: 570px) {
    .detailed-info__textual .navigation-list__item {
        flex-direction: row;
        justify-content: start;
        align-items: end;
    }

    .detailed-info__textual i {
        width: 40px;
        font-size: 20px;
    }

    .navigation-list__value {
        font-size: 1rem;
    }
}

@media (min-width: 767px) {
    .detailed-info__textual .navigation-list__item {
        justify-content: space-between;
    }

    .detailed-info__textual .navigation-list__name span::after {
        content: none;
    }
}

/* .detailed-info__textual .navigation-list__item {
   
} */

.detailed-info__textual .navigation-list__item>.navigation-list__name {
    color: var(--primary-color);
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 767px) {
    #results-detailed-info__chart {
        max-width: 60%;
        margin: auto;
    }
}