.app__footer {
    border-top: 1px dashed var(--primary-opposite-color);
    font-size: 13px;
    text-align: center;
    padding: 8px 0;
    letter-spacing: 0.5px;
    margin-top: 40px;
}

.app__footer .copyright {
    max-width: 70%;
    margin: auto;
}

@media (min-width: 570px) {
    .app__footer {
        font-size: 15px;
    }
}