.app__header {
    text-align: center;
    background-color: var(--button-disabled-color);
    color: var(--secondary-color);
    padding: 30px 20px 35px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}

.app__header .arrow__back {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.app__header .header__title {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.app__header .header__title {
    margin: 0 5vw;
    font-size: min(8vw, 40px);
}

.app__header .header__subtitle {
    letter-spacing: 2px;
    margin: 5px auto 0;
    max-width: 70%;
    font-weight: 300;
    color: var(--primary-color);
    font-size: 13px;
    text-transform: lowercase;
}