.app__main {
    flex-grow: 1;
}

.app {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    min-height: calc(100vh - 3 * var(--main-container-margin-y));
    margin: var(--main-container-margin-y) auto;
    background-color: var(--white-color);
    border-radius: 15px;
    box-shadow: 0 0 3px 1px var(--primary-opposite-color);
    overflow: hidden;
}

@media (min-width: 570px) {
    .app {
        max-width: 85%;
    }
}

@media (min-width: 767px) {
    .app {
        max-width: 75%;
    }
}

@media (min-width: 1100px) {
    .app {
        max-width: 65%;
    }
}

@media (min-width: 1250px) {
    .app {
        max-width: 55%;
    }
}

@media (min-width: 1300px) {
    .app {
        max-width: 50%;
    }
}