.question__text-container {
    padding: 2px 0;
}

.question__text {
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.progress[value] {
    margin: 10px 0;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    height: 6px;
}

.progress[value]::-webkit-progress-value {
    transition: width 0.5s;
    background-color: var(--primary-opposite-color);
    border-radius: 5px;
}

.progress[value]::-webkit-progress-bar {
    background-color: var(--strip-color);
    box-shadow: 0 2px 5px var(--strip-color) inset;
    border-radius: 5px;
}

.question__text b {
    color: var(--primary-opposite-color);
}