.link {
    color: var(--secondary-color);
    transition: 250ms;
    text-decoration: none;
}

.link.text-accent {
    color: var(--primary-opposite-color);
}

.link:hover {
    cursor: pointer;
    color: var(--secondary-hover-color);
}