.navigation-list__container .navigation-list__group .group__title {
    background-color: var(--button-disabled-color);
    font-weight: bold;
    text-transform: uppercase;
    border-left: 4px solid var(--primary-color);
    font-size: 17px;
    color: var(--primary-color);
}

.navigation-list__container .navigation-list__item {
    display: flex;
    justify-content: space-between;
    gap: 1px;
    margin-top: 3px;
}

.navigation-list__container,
.navigation-list__container .navigation-list__item:not(:last-child) {
    border-bottom: 1px solid var(--primary-light-color);
}

.navigation-list__container .group__title,
.navigation-list__container .navigation-list__name {
    padding: 8px 0 8px 25px;
}

.navigation-list__container dl+.button {
    margin-top: 8px;
    margin-left: 15px;
}

.navigation-list__container .button {
    align-self: start;
}