.button {
    border-radius: 5px;
    padding: 8px 20px;
    letter-spacing: 1px;
    font-size: 13px;
    transition: 300ms;
    text-transform: uppercase;
    position: relative;
}

.button:hover {
    cursor: pointer;
}

.button:disabled {
    background-color: var(--button-disabled-color);
    border: 1px dashed var(--secondary-light-color);
    color: var(--secondary-light-color);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0;
}

.button-container .button::before,
.button-container .button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 1px;
    background-color: var(--secondary-light-color);
    transition: 400ms;
}

.button-container .button::before {
    left: -55px;
}

.button-container .button:hover::before {
    transform: rotate(90deg);
    width: 15px;
    left: -36px;
}

.button-container .button::after {
    right: -55px;
}

.button-container .button:hover::after {
    transform: rotate(-90deg);
    width: 15px;
    right: -36px;
}

[class*='button-primary'] {
    border: 1px solid transparent;
    background-color: var(--primary-color);
    color: var(--white-color);
}

[class*='button-primary']:hover {
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
}

[class*='button-secondary'] {
    border: 1px solid transparent;
    background-color: var(--secondary-color);
    color: var(--white-color);
}

[class*='button-secondary']:hover {
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    color: var(--secondary-color);
}


[class*='button-dark'] {
    border: 1px solid transparent;
    background-color: var(--dark-color);
    color: var(--white-color);
}

[class*='button-dark']:hover {
    border: 1px solid var(--dark-color);
    background-color: transparent;
    color: var(--dark-color);
}