.dialog-container {
    width: 90%;
}

.dialog-container.open {
    visibility: visible;
}

.dialog-container.open .dialog {
    transform: scale(1);
    opacity: 1;
}

@media (min-width: 570px) {
    .dialog-container {
        width: auto;
        min-width: 500px;
        max-width: 550px;
    }
}

.dialog {
    border: 1px solid var(--primary-light-color);
    border-radius: 8px;
    padding: 10px;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 200px;
    opacity: 0;
    transform: scale(var(--dialog-animation-scale-start));
    transition: var(--dialog-animation-duration);
}

@media (min-width: 570px) {
    .dialog {
        min-height: 250px;
    }
}

.dialog small {
    display: inline-block;
}

.dialog .dialog__header {
    text-transform: uppercase;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.dialog .title {
    font-size: 19px;
    letter-spacing: 0.3px;
    font-weight: 300;
}

@media (min-width: 570px) {
    .dialog .dialog__header .title {
        font-size: 21px;
    }
}

.dialog .dialog__body {
    word-wrap: break-word;
    line-height: 25px;
    flex-grow: 1;
    padding: 5px 15px 20px;
    letter-spacing: 0.3px;
    padding-bottom: 10px;
}

.dialog .dialog__footer {
    display: flex;
    justify-content: end;
    padding: 5px 15px;
}

.dialog .dialog__cross-button {
    border: none;
    background-color: transparent;
    transform: scale(1);
    transition: 300ms;
}

.dialog .dialog__cross-button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.dialog .dialog__cross-button i {
    font-size: 27px;
    color: var(--primary-light-color);
}

.dialog .dialog__cross-button i:hover {
    color: var(--secondary-light-color);
}