[data-description] {
    --modal-color: var(--secondary-light-color);
    display: inline-block;
    margin-left: 5px;
    position: relative;
}

[data-description]:hover {
    cursor: pointer;
}

[data-description]:hover::before {
    content: "";
    border-top: 8px solid var(--modal-color);
    border-bottom: 8px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    top: -7px;
    right: 50%;
    transform: translateX(50%);
}

[data-description]:hover::after {
    content: attr(data-description);
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 25px;
    min-width: max(250px, 20vw);
    padding: 12px;
    border-radius: 5px;
    background-color: var(--modal-color);
    color: var(--white-color);
    font-size: 12px;
    text-align: justify;
    font-weight: 300;
    font-family: var(--font-primary);
}

@media (min-width: 320px){
    [data-description]:hover::after {
        right: 10%;
        transform: translateX(10%);
    }
}

@media (min-width: 570px) {
    [data-description]:hover::after {
        right: 50%;
        transform: translateX(50%);
    }
}