[data-description] {
    padding-left: 5px;
    position: relative;
}

[data-description]:hover {
    cursor: pointer;
}

[data-description]:hover::after {
    content: attr(data-description);
    font-size: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    text-align: justify;
    width: 20vw;
    font-weight: 300;
    font-family: roboto;
    border: 1px dashed var(--primary-opposite-color);
    padding: 12px;
    border-radius: 5px;
}