body.show-overlay {
    overflow: hidden;
}

body.show-overlay .overlay {
    display: block;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--dialog-overlay-bg);
    z-index: 2;
}