.text-input[readonly] {
    background-color: var(--strip-color);
}

.form__item {
    margin-bottom: 20px;
    padding: 10px 0 10px 16px;
    border-left: 2px solid var(--secondary-color);
}

.form__item .checkbox__container .label__text {
    padding: 0;
}

.form__item .text-input {
    color: var(--secondary-color);
}

.form__item .file-input-label,
.form__item .text-input,
.form__item .select {
    padding: 7px 15px;
    font-size: 16px;
    border: 1px solid var(--button-disabled-color);
    border-radius: 4px;
    transition: 350ms;
    width: 100%;
}

.form__item .text-input:focus,
.form__item .select:focus {
    outline: none;
    border: 1px solid var(--primary-opposite-color);
    box-shadow: 0 0 5px 1px var(--button-disabled-color);
}

.form__item .form__label {
    color: var(--primary-color);
    display: block;
}

.form .form__item .row {
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.form.validated .form__item .form__label.row {
    display: grid;
    grid-template-columns: 20fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.form__item .control-icon {
    min-width: 50px;
    padding: 0 10px;
    text-align: center;
}

.form.validated .row .control-icon {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
}

.form__item .label__text {
    display: block;
    padding: 8px 0 12px;
    color: var(--primary-color);
}

.form__item .group__button-container {
    margin-top: 20px;
}

.form__item .input-delete {
    color: var(--highlight-fail-color);
    transform: scale(1);
    transition: 300ms;
}

.form__item .input-delete:hover {
    cursor: pointer;
    transform: scale(1.2);
}